* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

#about, #skills, #projects {
    padding: 50px 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.skill-grid, .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.skill, .project {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.skill:hover, .project:hover {
    transform: translateY(-5px);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-links {
    margin-top: 15px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #3498db; /* Changes color on hover */
}
.rr{
    max-height: 30px;
}
.image{
   height: 190px;
   width: 200px;
   border-radius:100% ;
   border:solid whitesmoke;
}